<div class="page-inner">
    <div class="page-header">
        <h4 class="page-title">Payout Forms</h4>
        <ul class="breadcrumbs">
            <li class="nav-home">
                <a href="/">
                    <i class="flaticon-home"></i>
                </a>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
                <a href="/collections">Payouts</a>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
                <a href="#">Payout Forms</a>
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        <h4 class="card-title">List of Payout Forms</h4>
                        <button class="btn btn-primary btn-round ml-auto" id="add-payout-button">
                            <i class="fa fa-plus"></i>
                            Add payout form
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="payouts-datatable" class="display table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Date Created</th>
                                    <th>Name</th>
                                    <th>Business ID</th>
                                    <th>Status</th>
                                    <th style="width: 10%">Action</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add Form Modal -->
<div class="modal fade" id="addPayoutModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header no-bd">
                <h5 class="modal-title">
                    <span class="fw-mediumbold">
                        Add
                    </span>
                    <span class="fw-light">
                        New Payout Form
                    </span>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="small">Create a new payout form using this form, make sure you fill them all</p>
                <form name="addpayoutform" id="add-payout-form">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Name</label>
                                        <input type="text" class="form-control" name="Name" placeholder="enter form name">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Business Id</label>
                                        <input name="Businessid" type="text" class="form-control" placeholder="provide business Id">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Currency</label>
                                        <select type="text" name="Currency" class="form-control select2">
                                            <option value="">select form currency</option>
                                            <option value="1">Sample 1</option>
                                            <option value="2">Sample 2</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Debit Account</label>
                                        <input type="text" name="DebitAccount" class="form-control" placeholder="enter debit account">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Routine Mode</label>
                                        <input type="text" name="RoutineMode" class="form-control" placeholder="Enter routine mode">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Routine Schedules</label>
                                        <input type="text" name="RoutineSchedules" class="form-control" placeholder="Enter routine schedules">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Routine Count</label>
                                        <input type="text" name="RoutineCount" class="form-control" placeholder="Enter routine count">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Description</label>
                                        <input type="text" name="Description" class="form-control" placeholder="Enter description">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Status</label>
                                        <select name="Status" class="form-control select2">
                                            <option value="">select form status</option>
                                            <option value="1">Sample 1</option>
                                            <option value="2">Sample 2</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Status Description</label>
                                        <textarea name="StatusDesc" rows="5" class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-check form-check-inline">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" name="ReadThirdParty" id="ReadThirdParty" class="custom-control-input">
                                    <label class="custom-control-label" for="ReadThirdParty">Read Third Party</label>
                                </div>
                            </div>
                            <div class="form-check form-check-inline">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" id="WriteThirdParty" name="WriteThirdParty" class="custom-control-input">
                                    <label class="custom-control-label" for="WriteThirdParty">Write Third Party</label>
                                </div>
                            </div>
                            <div class="form-check form-check-inline">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" id="IsRoutine" name="IsRoutine" class="custom-control-input">
                                    <label class="custom-control-label" for="IsRoutine">Is Routine</label>
                                </div>
                            </div>
                            <div class="form-check form-check-inline">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" name="RoutineMode" id="RoutineMode" class="custom-control-input">
                                    <label class="custom-control-label" for="RoutineMode">Routine Mode</label>
                                </div>
                            </div>
                            <div class="form-check form-check-inline">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" name="ShowOnWeb" id="RoutineSchedules" class="custom-control-input">
                                    <label class="custom-control-label" for="RoutineSchedules">Routine Schedules</label>
                                </div>
                            </div>
                            <div class="form-check form-check-inline">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" name="ApprovalRequired" id="ApprovalRequired" class="custom-control-input">
                                    <label class="custom-control-label" for="ApprovalRequired">Approval Required</label>
                                </div>
                            </div>
                            <div class="form-check form-check-inline">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" name="SetReceivers" id="SetReceivers" class="custom-control-input">
                                    <label class="custom-control-label" for="SetReceivers">Set Receivers</label>
                                </div>
                            </div>
                            <div class="form-check form-check-inline">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" name="AllowApiAccess" id="SetReceivers" class="custom-control-input">
                                    <label class="custom-control-label" for="AllowApiAccess">Allow Api Access</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer no-bd">
                <button type="button" id="add-payout-submit-button" class="btn btn-primary">Add Payout Form</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="payout-form-details-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header no-bd">
                <h5 class="modal-title">
                    <span class="fw-mediumbold">
                        Payout Form Details
                    </span>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="payout-form-details-container">
                <p class="small">Create a new collections form using this form, make sure you fill them all</p>

            </div>
        </div>
    </div>
</div>