@{
    Layout = "_LayoutAuthentication";
    ViewData["Title"] = "Activate Account";
}


<div class="container page-container">
    <div class="row">
        <!-- Main Content -->
        <div class="col-lg-6" style="margin:auto; float:none;">
            <main id="main" class="main">
                <div class="inner-main common-spacing confirmation-block">
                    <div class="container">
                        <h2>Account created successfully</h2>
                        <p><span>We have sent a verification link to your email. Check your email and click the link to activate your account</span></p>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>
