@{
    Layout = "_LayoutAuthentication";
    ViewData["Title"] = "Account Activation Confirmation";
}


<div class="container page-container">
    <div class="row">
        <!-- Main Content -->
        <div class="col-lg-6" style="margin:auto; float:none;">
            <main id="main" class="main">
                <div class="inner-main common-spacing confirmation-block">
                    <div class="container">
                        <h2>Account Activation Successful.</h2>
                        <p><span>Proceed to and <a href="/accounts/signin">Login</a> to your Account</span></p>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>

