
@{
    ViewData["Title"] = "ConfirmEmailError";
}

<div class="container page-container">
    <div class="row">
        <!-- Main Content -->
        <div class="col-lg-6" style="margin:auto; float:none;">
            <main id="main" class="main">
                <div class="inner-main common-spacing confirmation-block">
                    <div class="container">
                        <h2>Account Activation Failed</h2>
                        <p>@ViewBag.Message</p>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>


