@model ForgotPasswordViewModel
@{
    Layout = "_LayoutAuthentication";
    ViewData["Title"] = "Forgot Password";
}

    <div class="kt-grid__item kt-grid__item--fluid  kt-grid__item--order-tablet-and-mobile-1  kt-login__wrapper">

        <!--begin::Head-->
        <div class="kt-login__head">
            <span class="kt-login__signup-label">Don't have an account yet?</span>&nbsp;&nbsp;
            <a href="/accounts/signup" class="kt-link kt-login__signup-link">Sign Up!</a>
        </div>

        <!--end::Head-->
        <!--begin::Body-->
        <div class="kt-login__body">

            <div class="kt-login__form">
                <div class="kt-login__title">
                    <h3>Forgotten Password ?</h3>
                    <div class="kt-login__desc">Enter your email to reset your password:</div>
                </div>
                <form class="kt-form" action="">
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="Email" name="email" id="kt_email" autocomplete="off">
                    </div>
                    <div class="kt-login__actions">
                        <button id="kt_login_forgot_submit" class="btn btn-brand btn-pill btn-elevate">Request</button>
                        <button id="kt_login_forgot_cancel" class="btn btn-outline-brand btn-pill">Cancel</button>
                    </div>
                </form>
            </div>
        </div>

        <!--end::Body-->
    </div>

