<!-- main container -->
<main id="main" class="main full-width">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <article class="post-item">
                    <header class="section-header entry-header">
                        <h2 class="section-title entry-title">Opps!</h2>
                    </header>
                    <div class="entry-content" style="margin-bottom:100px;">
                        <p><span>@ViewBag.ResetErrorMessage</span></p>

                    </div>
                </article>
            </div>
        </div>
    </div>
</main>