<!-- main container -->
<main id="main">
    <!-- top information area -->
    <div class="inner-top">
        <div class="container">
            <h1 class="inner-main-heading">Forgot Password</h1>
            
        </div>
    </div>
    <!-- confirmation block -->
    <div class="inner-main common-spacing confirmation-block">
        <div class="container">
            <h2>Reset Link was sent </h2>
            <p><span>A link to reset your passwrd has been sent to your email. Please check your email and clink the link to reset your password</span></p>
        </div>
    </div>
</main>
