@model ResetPasswordViewModel
@{
    Layout = "_LayoutAuthentication";
    ViewData["Title"] = "Reset Password";
}

    <div class="kt-grid__item kt-grid__item--fluid  kt-grid__item--order-tablet-and-mobile-1  kt-login__wrapper">

        <!--begin::Head-->
        <div class="kt-login__head">
            <span class="kt-login__signup-label">Don't have an account yet?</span>&nbsp;&nbsp;
            <a href="/accounts/signup" class="kt-link kt-login__signup-link">Sign Up!</a>
        </div>

        <!--end::Head-->
        <!--begin::Body-->
        <div class="kt-login__body">

            <!--begin::Signin-->
            <div class="kt-login__form">
                <div class="kt-login__title">
                    <h3>Sign In</h3>
                </div>

                <!--begin::Form-->
                <form class="kt-form" action="" novalidate="novalidate" id="kt_login_form">
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="Username" name="username" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="password" placeholder="Password" name="password" autocomplete="off">
                    </div>

                    <!--begin::Action-->
                    <div class="kt-login__actions">
                        <a href="#" class="kt-link kt-login__link-forgot">
                            Forgot Password ?
                        </a>
                        <button id="kt_login_signin_submit" class="btn btn-primary btn-elevate kt-login__btn-primary">Sign In</button>
                    </div>

                    <!--end::Action-->
                </form>
            </div>

            <!--end::Signin-->
        </div>

        <!--end::Body-->
    </div>

