@model SignInModel
@{
    Layout = "_LayoutAuthentication";
    ViewData["Title"] = "Sign In";
}

    <div class="container container-login animated fadeIn">
        <h3 class="text-center">Sign In To Bplas</h3>
        <form method="post" action="/accounts/signin">
            @Html.AntiForgeryToken()
            <div class="status">@Html.ValidationSummary(true)</div>
            <div class="login-form">
                <div class="form-group form-floating-label">
                    <input id="username" name="username" type="text" class="form-control input-border-bottom" required>
                    <label for="username" class="placeholder">Username</label>
                    <span class="align-content-center">@Html.ValidationMessageFor(x => x.EmailAddress)</span>
                </div>
                <div class="form-group form-floating-label">
                    <input id="password" name="password" type="password" class="form-control input-border-bottom" required>
                    <label for="password" class="placeholder">Password</label>
                    <div class="show-password">
                        <i class="icon-eye"></i>
                    </div>
                    <span class="align-content-center">@Html.ValidationMessageFor(x => x.Password)</span>
                </div>
                <div class="row form-sub m-0">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="rememberme">
                        <label class="custom-control-label" for="rememberme">Remember Me</label>
                    </div>
                    <a href="#" class="link float-right">Forget Password ?</a>
                </div>
                <div class="form-action mb-3">
                    <button type="submit"  class="btn btn-primary btn-rounded btn-login">Sign In</button>
                </div>
            </div>
        </form>
    </div>
