<div class="page-inner">
    <div class="page-header">
        <h4 class="page-title">Collection Forms</h4>
        <ul class="breadcrumbs">
            <li class="nav-home">
                <a href="/">
                    <i class="flaticon-home"></i>
                </a>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
                <a href="/collections">Collections</a>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
                <a href="#">Collection Forms</a>
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        <h4 class="card-title">List of Collection Forms</h4>
                        <button class="btn btn-primary btn-round ml-auto" id="add-collection-button">
                            <i class="fa fa-plus"></i>
                            Add form
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="collections-datatable" class="display table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Date Created</th>
                                    <th>Name</th>
                                    <th>Business ID</th>
                                    <th>Category</th>
                                    <th>Status</th>
                                    <th style="width: 10%">Action</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add Form Modal -->
<div class="modal fade" id="addCollectionModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header no-bd">
                <h5 class="modal-title">
                    <span class="fw-mediumbold">
                        Add
                    </span>
                    <span class="fw-light">
                        New Form
                    </span>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="small">Create a new collections form using this form, make sure you fill them all</p>
                <form name="addcollectionform" id="add-payment-form">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Name</label>
                                        <input type="text" class="form-control" name="Name" placeholder="enter form name">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Business Id</label>
                                        <input name="Businessid" type="text" class="form-control" placeholder="provide business Id">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Currency</label>
                                        <select type="text" name="Currency" class="form-control select2">
                                            <option value="">select form currency</option>
                                            <option value="1">Sample 1</option>
                                            <option value="2">Sample 2</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Category</label>
                                        <select type="text" name="Category" class="form-control select2">
                                            <option value="">select form category</option>
                                            <option value="1">Sample 1</option>
                                            <option value="2">Sample 2</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Collection Account</label>
                                        <input  type="text" name="CollectionAccount" class="form-control" placeholder="enter collection account">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Fixed Collection Limit</label>
                                        <input type="text" name="FixedCollectionLimit" class="form-control" placeholder="Enter fixed collection limit">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Upper Collection Limit</label>
                                        <input type="text" name="UpperCollectionLimit" class="form-control" placeholder="Enter upper collection limit">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Lower Collection Limit</label>
                                        <input type="text" name="LowerCollectionLimit" class="form-control" placeholder="Enter lower collection limit">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Total Collection Limit</label>
                                        <input name="TotalCollectionLimit" type="text" class="form-control" placeholder="Enter total collection limit">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Collections Count Limit</label>
                                        <input name="CollectionsCountLimit" type="text" class="form-control" placeholder="Enter collection count limit">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Receipt Number Mode</label>
                                        <select type="text" name="ReceiptNoMode" class="form-control select2">
                                            <option value="">select receipt number mode</option>
                                            <option value="1">Sample 1</option>
                                            <option value="2">Sample 2</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>ReceiptNoPrefix</label>
                                        <input name="ReceiptNoPrefix" type="text" class="form-control" placeholder="Enter receipt number prefix">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>ReceiptNoLength</label>
                                        <input name="ReceiptNoLength" type="text" class="form-control" placeholder="Enter receipt number length">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Date expires</label>
                                        <div class="input-group">
                                            <input type="text" name="Dateexpires" class="form-control datepicker"/>
                                            <div class="input-group-append">
                                                <span class="input-group-text">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Status</label>
                                        <select name="Status" class="form-control select2">
                                            <option value="">select form status</option>
                                            <option value="1">Sample 1</option>
                                            <option value="2">Sample 2</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Status Description</label>
                                        <textarea name="StatusDesc" rows="5" class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-check form-check-inline">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" name="ClosedGroupAccess" id="ClosedGroupAccess" class="custom-control-input">
                                    <label class="custom-control-label" for="ClosedGroupAccess">Closed Group Access</label>
                                </div>
                            </div>
                            <div class="form-check form-check-inline">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" name="ReadThirdParty" id="ReadThirdParty" class="custom-control-input">
                                    <label class="custom-control-label" for="ReadThirdParty">Read Third Party</label>
                                </div>
                            </div>
                            <div class="form-check form-check-inline">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" id="WriteThirdParty" name="WriteThirdParty" class="custom-control-input">
                                    <label class="custom-control-label" for="WriteThirdParty">Write Third Party</label>
                                </div>
                            </div>
                            <div class="form-check form-check-inline">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" id="PledgesAllowed" name="PledgesAllowed" class="custom-control-input">
                                    <label class="custom-control-label" for="PledgesAllowed">Pledges Allowed</label>
                                </div>
                            </div>
                            <div class="form-check form-check-inline">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" name="PrintReceipt" id="PrintReceipt" class="custom-control-input">
                                    <label class="custom-control-label" for="PrintReceipt">Print Receipt</label>
                                </div>
                            </div>
                            <div class="form-check form-check-inline">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" name="ShowOnWeb" id="ShowOnWeb" class="custom-control-input">
                                    <label class="custom-control-label" for="ShowOnWeb">Show On Web</label>
                                </div>
                            </div>
                            <div class="form-check form-check-inline">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" name="ShowOnApp" id="ShowOnApp" class="custom-control-input">
                                    <label class="custom-control-label" for="ShowOnApp">Show On App</label>
                                </div>
                            </div>
                            <div class="form-check form-check-inline">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" name="ShowOnTp" id="ShowOnTp" class="custom-control-input">
                                    <label class="custom-control-label" for="ShowOnTp">Show On Tp</label>
                                </div>
                            </div>
                            <div class="form-check form-check-inline">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" name="IsSearchable" id="IsSearchable" class="custom-control-input">
                                    <label class="custom-control-label" for="IsSearchable">Is Searchable</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer no-bd">
                <button type="button" id="addRowButton" class="btn btn-primary">Add</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="collection-form-details-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header no-bd">
                <h5 class="modal-title">
                    <span class="fw-mediumbold">
                        Collection Form Details
                    </span>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="collection-form-details-container">
                <p class="small">Create a new collections form using this form, make sure you fill them all</p>
                
            </div>
        </div>
    </div>
</div>